/*Import googe fonts*/

  @import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
 
.form-div {
	
	margin: 50px auto 50px;
	padding: 25px 15px 10px 15px;
	border: 3px solid #80ced7;
	border-radius: 5px;
	font-size: 1.1em;
	font-family:'Lora',serif;
}

.form p{
	
	font-size: .89em;
}

.form-div.login{
	
	margin-top:100px;
	
	
}